<!-- Navbar -->
<nav class="navbar navbar-expand bg-dark">
    <div class="container">
        <!-- Logo or Brand -->
        <a class="navbar-brand text-white" routerLink="" routerLinkActive="active-link"
            [routerLinkActiveOptions]='{exact:true}'>General Insurance</a>

        <!-- Navigation Links -->
        <ul class="navbar-nav ">

            <li class="nav-item dropdown">
                <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Claims Insurance</a>
                <ul class="dropdown-menu">
                    <li> <a class="dropdown-item" routerLink="claimInc/health-claim">Health Claims</a></li>
                    <li> <a class="dropdown-item" routerLink="claimInc/motor-claim">Motor Claims</a></li>
                    <li> <a class="dropdown-item" routerLink="claimInc/travel-claim">Travel Claims</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Health Insurance</a>
                <ul class="dropdown-menu">
                    <li> <a class="dropdown-item" routerLink="healthInc/golden-shield">Golden Shield</a></li>
                    <li> <a class="dropdown-item" routerLink="healthInc/max-protect">Max Protect</a></li>
                    <li> <a class="dropdown-item" routerLink="healthInc/personal-protect">Personal Protect</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Motor Insurance</a>
                <ul class="dropdown-menu">
                    <li> <a class="dropdown-item" routerLink="motorInc/bike-inc">Bike Insurance</a></li>
                    <li> <a class="dropdown-item" routerLink="motorInc/car-inc">Car Insurance</a></li>
                    <li> <a class="dropdown-item" routerLink="motorInc/motor-inc">Motor Insurance</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Renewals</a>
                <ul class="dropdown-menu">
                    <li> <a class="dropdown-item" routerLink="renewalsInc/bike-policy">Bike Policy</a></li>
                    <li> <a class="dropdown-item" routerLink="renewalsInc/car-policy">Car Policy</a></li>
                    <li> <a class="dropdown-item" routerLink="renewalsInc/health-policy">Health Policy</a></li>
                    <li> <a class="dropdown-item" routerLink="renewalsInc/travel-policy">Travel Policy</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Travel Insurance</a>
                <ul class="dropdown-menu">
                    <li> <a class="dropdown-item" routerLink="travelInc/gold-multi-trip">Gold Multi Trip</a></li>
                    <li> <a class="dropdown-item" routerLink="travelInc/single-trip">Single Trip</a></li>
                    <li> <a class="dropdown-item" routerLink="travelInc/student-trip">Student Trip</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>